<div class="about about_employer">
    <div class="section-frame">
        <a id="about"></a>
        <div class="page-title">
            <h1>Про нас</h1>
        </div>
        <div class="about-content">
            <div class="about-content__item">
                <div class="about-content__info">
                        <p class="about-title">Ласкаво просимо до DM National Recruit — вашого надійного партнера у сфері міжнародного працевлаштування!</p>
                    
                        <p class="about-text">
                            У DM National Recruit ми перетворюємо процес працевлаштування на максимально ефективний та комфортний. Ваш успіх — це
                            наш успіх, тому кожен клієнт користується повною увагою та підтримкою від нашої команди.
                            
                            Як експерти в сфері міжнародного працевлаштування з більш ніж 10-ти річним досвідом, ми робимо все можливе, щоб ви
                            досягали своїх професійних цілей. Співпрацюємо лише з перевіреними та відомими компаніями, розуміючи важливість
                            правильного вибору для успішної кар'єри.
                            
                            Наша команда надає підтримку та допомогу на всіх етапах вашої кар'єри за кордоном.
                            
                            В DM National Recruit прагнемо до індивідуального підходу до кожного клієнта. Ваші потреби та бажання важливі, тому ми
                            розробляємо план, що найкраще відповідає вашим цілям.
                            
                            Відкриваємо перед вами безмежні можливості завдяки великому спектру вакансій. Незалежно від вашої спеціальності та
                            кваліфікації, ми знайдемо найкращі варіанти для вас.
                        </p>
                    
                    <p class="about-end">З DM National Recruit ви завжди в надійних руках!</p>

                </div>
            </div>
            <!-- <div class="about-content__item">
                <div class="about-content__info">
                    <p>Таким образом укрепление и развитие структуры требуют определения и уточнения новых предложений.
                        Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять
                        важные задания по разработке модели развития.</p>
                </div>
            </div> -->
        </div>
        <!-- <div class="about-video">
            <img src="images/video.jpg" alt="">
            <a href="https://youtu.be/mhiPvkL_c2g" data-fancybox="" class="about-video__target">
                <i class="fa-play"></i>
            </a>
        </div> -->
    </div>
</div>