<div class="about about_employer">
    <div class="section-frame">
        <a id="about"></a>
        <div class="page-title">
            <h1>Про нас</h1>
        </div>
        <div class="about-content">
            <div class="about-content__item">
                <div class="about-content__info">
                    <p>Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение модели
                        развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм
                        деятельности требуют определения и уточнения форм развития.</p>
                </div>
            </div>
            <div class="about-content__item">
                <div class="about-content__info">
                    <p>Таким образом укрепление и развитие структуры требуют определения и уточнения новых предложений.
                        Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять
                        важные задания по разработке модели развития.</p>
                </div>
            </div>
        </div>
        <!-- <div class="about-video">
            <img src="images/video.jpg" alt="">
            <a href="https://youtu.be/mhiPvkL_c2g" data-fancybox="" class="about-video__target">
                <i class="fa-play"></i>
            </a>
        </div> -->
    </div>
</div>