<div class="benefits">
    <div class="section-frame">
        <div class="benefits-list">
            <div class="benefits-item__single">
                <img src="./images/logoDM.png" alt="">
            </div>
            <div class="benefits-item">
                <span>19</span>
                <p>років досвіду</p>
            </div>
            <div class="benefits-item">
                <span>1000</span>
                <p>працевлаштованих за&nbsp;рік</p>
            </div>
            <div class="benefits-item">
                <span>10</span>
                <p>країн</p>
            </div>
        </div>
        <div class="about-benefits about-benefits_small-title">
            <h3>Чому тобі варто звернутися
                в UAMF</h3>
            <div class="about-benefits__list">
                <div class="about-benefits__item">
                    <p>Працюємо офіційно, маємо відповідну ліцензію <span>(№939 від 29.08.2016)</span></p>
                </div>
                <div class="about-benefits__item">
                    <p>Пропонуємо вакансії у країнах <span>з високим рівнем заробітної плати</span></p>
                </div>
                <div class="about-benefits__item">
                    <p>Працюємо тільки <br>
                        <span>з перевіреними підприємствами</span>
                    </p>
                </div>
                <div class="about-benefits__item">
                    <p>Супроводжуємо протягом усього періоду перебування за кордоном</p>
                </div>
                <div class="about-benefits__item">
                    <p>Постійно оновлюємо вакансії</p>
                </div>
                <div class="about-benefits__item">
                    <p>Супроводжуємо протягом усього періоду перебування за кордоном</p>
                </div>
            </div>
        </div>
    </div>
</div>