<div class="contact">
    <div class="section-frame">
        <div class="page-title">
            <h1>Контакты</h1>
        </div>
        <div class="contact-frame">
            <div class="contact-list">
                <div class="contact-item">
                    <p class="contact-item__title">Розташування</p>
                    <div class="contact-item__list">
                        <div class="contact-item__icon">
                            <i class="fa-map"></i>
                            <p>Житомир, 10014, Україна <br>
                                вул. Басейна 2А, поверх 2, офіс 1</p>
                        </div>
                    </div>
                </div>
                <div class="contact-item">
                    <p class="contact-item__title">Графік роботи</p>
                    <div class="contact-item__list">
                        <div class="contact-item__icon">
                            <i class="fa-time"></i>
                            <p>З понеділка по п'ятницю <br>
                                з 9:00 до 17:00</p>
                        </div>
                    </div>
                </div>
                <div class="contact-item">
                    <p class="contact-item__title">Клієнтський відділ</p>
                    <div class="contact-item__list">
                        <div class="contact-item__icon">
                            <i class="fa-viber"></i>
                            <a href="tel:+380972972727">+380 97 297 27 27</a>
                        </div>
                        <div class="contact-item__icon">
                            <i class="fa-viber"></i>
                            <a href="tel:+380972972727">+380 97 297 27 27</a>
                        </div>
                    </div>
                </div>
                <div class="contact-item">
                    <p class="contact-item__title">Міжнародний відділ</p>
                    <div class="contact-item__list">
                        <div class="contact-item__icon">
                            <i class="fa-phone"></i>
                            <a href="tel:+380958986861">+380 95 898 68 61</a>
                            <b>Англійською</b>
                        </div>
                        <div class="contact-item__icon">
                            <i class="fa-phone"></i>
                            <a href="tel:+380687408070">+380 68 740 80 70</a>
                            <b>Німецькою</b>
                        </div>
                    </div>
                </div>
                <div class="contact-item">
                    <p class="contact-item__title">Електронна пошта</p>
                    <div class="contact-item__list">
                        <div class="contact-item__icon">
                            <i class="fa-mail"></i>
                            <a href="mailto:uamf@uamf.com.ua">uamf@uamf.com.ua</a>
                        </div>
                        <div class="contact-item__icon">
                            <i class="fa-mail"></i>
                            <a href="mailto:hr@uamf.com.ua">hr@uamf.com.ua</a>
                            <b>Клієнтський відділ</b>
                        </div>
                    </div>
                </div>
                <div class="contact-item">
                    <p class="contact-item__title">Ми у соціальних мережах та мессенджерах</p>
                    <div class="contact-item__list">
                        <div class="contact-item__icon">
                            <i class="fa-fb"></i>
                            <a href="#" target="_blank">Facebook</a>
                        </div>
                        <div class="contact-item__icon">
                            <i class="fa-inst"></i>
                            <a href="#" target="_blank">Instagram</a>
                        </div>
                        <div class="contact-item__icon">
                            <i class="fa-viber-outline"></i>
                            <a href="#" target="_blank">Viber-група</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-content">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.742778530232!2d28.6559835!3d50.2557853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba1b2f3991c61eea!2sUAYF!5e0!3m2!1sru!2sru!4v1641305334775!5m2!1sru!2sru"
                    class="contact-map" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <img src="images/contact-photo.jpg" class="contact-photo" alt="">
                <div class="contact-video">
                    <p>Про компанію <b>UAMF</b></p>
                    <img src="images/contact-video.jpg" class="contact-video__photo" alt="">
                    <a href="" class="contact-video__icon" data-fancybox>
                        <img src="images/icon/youtube.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>