<div class="about about_employer">
    <div class="section-frame">
        <div class="page-title">
            <h1>Для роботодавця</h1>
        </div>
        <div class="about-content">
            <div class="about-content__item">
                <div class="about-content__info">
                    <p>Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение модели
                        развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм
                        деятельности требуют определения и уточнения форм развития.</p>
                    <p>Таким образом укрепление и развитие структуры требуют определения и уточнения новых предложений.
                        Идейные соображения высшего порядка, а также консультация с широким активом позволяет
                        форм деятельности требуют определения и уточнения форм развития.</p>
                </div>
            </div>
            <div class="about-content__item">
                <div class="about-content__info">
                    <p>Таким образом укрепление и развитие структуры требуют определения и уточнения новых предложений.
                        Идейные соображения высшего порядка, а также консультация с широким активом позволяет
                        форм деятельности требуют определения и уточнения форм развития.</p>
                    <p>Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение модели
                        развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм
                        деятельности требуют определения и уточнения форм развития.</p>
                </div>
            </div>
        </div>
        <div class="about-video">
            <img src="images/video.jpg" alt="">
            <a href="https://youtu.be/mhiPvkL_c2g" data-fancybox="" class="about-video__target">
                <i class="fa-play"></i>
            </a>
        </div>
    </div>
</div>
<div class="beautiful">
    <div class="section-frame beautiful-frame">
        <div class="page-title">
            <h2>Чому краще працювати <br> саме з&nbsp;UAMF</h2>
        </div>
        <div class="beautiful-list beautiful-list_duble">
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-1.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Наши услуги абсолютно бесплатны для вас</b>
                    <p>Вы получаете именно тех работников, которые полностью соответствуют вашим требованиям. Возможен
                        прием на работу профессионалов со стажем и сезонных рабочих</p>
                </div>
            </div>
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-2.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Вы не тратите свое время </b>
                    <p>Вы экономите свое время, поскольку мы берем на себя всю бумажную работу от имени сотрудников и
                        можем частично помочь вам с мнением профсоюзов. Вам достаточно выразить нам свои требования и
                        пожелания относительно рабочих, утвердить подобраны кандидатуры и согласовать дату их прибытия
                    </p>
                </div>
            </div>
        </div>
        <div class="beautiful-list beautiful-list_three">
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-3.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Вы получаете самых оптимальных работников для вашего предприятия</b>
                    <p>Вы получаете именно тех работников, которые полностью соответствуют вашим требованиям. Возможен
                        прием на работу профессионалов со стажем и сезонных рабочих</p>
                </div>
            </div>
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-4.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Можем организовать собеседование</b>
                    <p>По вашему запросу организуем собеседование с сотрудником (Skype, телефон, личная встреча в нашем
                        офисе)</p>
                </div>
            </div>
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-5.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Мы гарантируем полную поддержку наших клиентов</b>
                    <p>Мы гарантируем полную поддержку наших клиентов до их возвращения в Украину</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hire">
    <div class="section-frame">
        <div class="page-title">
            <h2>НАЙНЯТИ ПРАЦІВНИКІВ ВІД UAMF, ЦЕ ПРОСТО</h2>
        </div>
        <div class="hire-list-title">
            <p>Роботодавець</p>
            <p>UAMF</p>
        </div>
        <div class="hire-list">
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Висловлюєте свої побажання щодо робітника зручним для вас способом</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Надсилаємо вам CV всіх відповідних робітників</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Надсилаємо вам CV всіх відповідних робітників</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Готуємо пакет документів та надсилаємо вам на підпис</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Підписуєте документи та надсилаєте нам зручним для вас способом</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Подаємо документи клієнта до міграційних органів та отримуємо дозвіл на роботу</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Називаєте дату і місце, зручні для зустрічі вами робітників</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Плануємо маршрут робітників, купуємо їм білети, організовуємо вашу зустріч з робітниками</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
        </div>
    </div>
</div>