<div class="about about_employer">
    <div class="section-frame">
        <a id="employer"></a>
        <div class="page-title">
            <h1>Для роботодавця</h1>
        </div>
        <div class="about-content">
            <div class="about-content__item">
                <div class="about-content__info">
                    <p>DM National Recruit - провідна компанія у сфері міжнародного працевлаштування.
                    З нами ви отримаєте надійні та ефективні кадрові рішення для вашого бізнесу.</p><br>
                    <ol class="employer-list">
                        <li><p>Простота процесу</p>
                        <p>Для вашої зручності просто заповніть заявку на нашому сайті або зателефонуйте нам, і ми швидко підберемо вам потрібного
                        спеціаліста. І найкраще тут - ми відкриті для вас 24/7. Ваш бізнес не знає перерв, і ми теж.</p></li><br>

                        <li><p>Досвід та надійність</p>
                        <p>З понад 10-річним стажем на ринку, ми знаємо, як знайти відповідних людей для ваших потреб і довіряємо своїм знанням і
                        вмінням.</p></li><br>

                        <li><p>Обширна база робітників</p>
                        <p>Ми маємо в своєму розпорядженні велику базу потенційних робітників з різних галузей і спеціальностей, що дозволяє нам
                        швидко і точно знайти найкращого кандидата для ваших вимог.</p></li><br>
                        
                        <li><p>Швидкість</p>
                        <p>У випадку термінової потреби в персоналі, наша команда відреагує швидко і ефективно. Ми розуміємо важливість часу в
                        бізнесі і прагнемо вирішувати ваши потреби якомога швидше.</p></li><br>

                        <li><p>Всебічна підтримка</p>
                        <p>Ми не просто знаходимо вам робітників - ми також організуємо їх приїзд прямо до вашого підприємства. Наша мета - зробити
                        цей процес якомога безшовнішим і ефективнішим, щоб ви могли зосередитися на веденні свого бізнесу.</p></li><br>
                    </ol>

                    <p>Ми цінуємо кожного нашого клієнта і прагнемо надати найкращі послуги, адаптовані до вашого унікального бізнесу і
                    кадрових потреб. Співпрацюючи з DM National Recruit, ви можете бути впевнені в професіоналізмі, добросовісності та
                    високому стандарті обслуговування. Ваша довіра є нашим найвищим приоритетом, і ми прагнемо її повністю виправдати,
                    пропонуючи бездоганний сервіс та результати.</p>
                    <!-- <p>Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение модели
                        развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм
                        деятельности требуют определения и уточнения форм развития.</p>
                    <p>Таким образом укрепление и развитие структуры требуют определения и уточнения новых предложений.
                        Идейные соображения высшего порядка, а также консультация с широким активом позволяет
                        форм деятельности требуют определения и уточнения форм развития.</p> -->
                </div>
            </div>
            <!-- <div class="about-content__item">
                <div class="about-content__info">
                    <p>Таким образом укрепление и развитие структуры требуют определения и уточнения новых предложений.
                        Идейные соображения высшего порядка, а также консультация с широким активом позволяет
                        форм деятельности требуют определения и уточнения форм развития.</p>
                    <p>Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение модели
                        развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм
                        деятельности требуют определения и уточнения форм развития.</p>
                </div>
            </div> -->
        </div>
        <!-- <div class="about-video">
            <img src="images/video.jpg" alt="">
            <a href="https://youtu.be/mhiPvkL_c2g" data-fancybox="" class="about-video__target">
                <i class="fa-play"></i>
            </a>
        </div> -->
    </div>
</div>
<!-- <div class="beautiful">
    <div class="section-frame beautiful-frame">
        <div class="page-title">
            <h2>Чому краще працювати <br> саме з&nbsp;UAMF</h2>
        </div>
        <div class="beautiful-list beautiful-list_duble">
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-1.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Наши услуги абсолютно бесплатны для вас</b>
                    <p>Вы получаете именно тех работников, которые полностью соответствуют вашим требованиям. Возможен
                        прием на работу профессионалов со стажем и сезонных рабочих</p>
                </div>
            </div>
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-2.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Вы не тратите свое время </b>
                    <p>Вы экономите свое время, поскольку мы берем на себя всю бумажную работу от имени сотрудников и
                        можем частично помочь вам с мнением профсоюзов. Вам достаточно выразить нам свои требования и
                        пожелания относительно рабочих, утвердить подобраны кандидатуры и согласовать дату их прибытия
                    </p>
                </div>
            </div>
        </div>
        <div class="beautiful-list beautiful-list_three">
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-3.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Вы получаете самых оптимальных работников для вашего предприятия</b>
                    <p>Вы получаете именно тех работников, которые полностью соответствуют вашим требованиям. Возможен
                        прием на работу профессионалов со стажем и сезонных рабочих</p>
                </div>
            </div>
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-4.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Можем организовать собеседование</b>
                    <p>По вашему запросу организуем собеседование с сотрудником (Skype, телефон, личная встреча в нашем
                        офисе)</p>
                </div>
            </div>
            <div class="beautiful-item">
                <div class="beautiful-item__icon">
                    <img src="images/beautiful/beautiful-5.svg" alt="">
                </div>
                <div class="beautiful-item__content">
                    <b>Мы гарантируем полную поддержку наших клиентов</b>
                    <p>Мы гарантируем полную поддержку наших клиентов до их возвращения в Украину</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="hire">
    <div class="section-frame">
        <div class="page-title">
            <h2>НАЙНЯТИ ПРАЦІВНИКІВ ВІД НАС, ЦЕ ПРОСТО</h2>
        </div>
        <div class="hire-list-title">
            <p>Роботодавець</p>
            <p>DM National Recruit</p>
        </div>
        <div class="hire-list">
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Заповняєте заявку або просто телефонуєте нам</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Підбираємо необхідного кандидата під ваші потреби та відправляємо вам на затвердження</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Погоджуєте кандидиата</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Організовуємо його прибуття до місця роботи</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <!-- <div class="hire-item">
                <div class="hire-item__content">
                    <p>Підписуєте документи та надсилаєте нам зручним для вас способом</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Подаємо документи клієнта до міграційних органів та отримуємо дозвіл на роботу</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Називаєте дату і місце, зручні для зустрічі вами робітників</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div>
            <div class="hire-item">
                <div class="hire-item__content">
                    <p>Плануємо маршрут робітників, купуємо їм білети, організовуємо вашу зустріч з робітниками</p>
                </div>
                <div class="hire-item__icon">
                    <i class="fa-arrow-next"></i>
                </div>
            </div> -->
        </div>
    </div>
</div>