<footer class="footer">
    <div class="section-frame footer-content">
        <div class="footer-info">
            <a href="/" class="footer-logo">
                <img src="./images/logoDM_white.svg" alt="">
            </a>
            <ul class="footer-social">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-fb"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-inst"></i>
                    </a>
                </li>
                <!-- <li>
                    <a href="#" target="_blank">
                        <i class="fa-viber-outline"></i>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="#" target="_blank">
                        <i class="fa-fb"></i>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="#" target="_blank">
                        <i class="fa-inst"></i>
                    </a>
                </li> -->
            </ul>
        </div>
        <!-- <ul class="footer-link">
            <li><a href="vacancies.html">Вакансії</a></li>
            <li><a href="employer.html">Для роботодавця</a></li>
        </ul>
        <ul class="footer-link">
            <li><a href="about.html">Про нас</a></li>
            <li><a href="contact.html">Контакти</a></li>
        </ul> -->
        <div class="footer-description">
            <div class="footer-description__item">
                <i class="fa-map"></i>
                <p>Житомир, 10014, Україна <br>
                    вул. Басейна 2А, поверх 2, офіс 1</p>
            </div>
            <div class="footer-description__item">
                <i class="fa-time"></i>
                <p>Понеділок - п'ятниця <br>
                    9:00 - 17:00</p>
            </div>
            <!-- <div class="footer-description__item">
                <i class="fa-viber"></i>
                <a href="tel:+380972972727">+38 (097) 297-27-27</a>
            </div> -->
            <div class="footer-description__item">
                <i class="fa-viber"></i>
                <a href="tel:+380967972727">+38 (096) 797-27-27</a>
            </div>
        </div>
        <div class="footer-frame">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.742778530232!2d28.6559835!3d50.2557853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba1b2f3991c61eea!2sUAYF!5e0!3m2!1sru!2sru!4v1641305334775!5m2!1sru!2sru"
                class="footer-map" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <!-- <a href="https://youtu.be/mhiPvkL_c2g" data-fancybox class="footer-frame__video">
                <img src="../src/images/video-footer.jpg" alt="">
            </a> -->
        </div>
    </div>
</footer>