<div class="gallery">
    <div class="section-frame">
        <div class="page-title page-title_center">
            <h2>Фотографії</h2>
        </div>
    </div>
    <div class="gallery-wrap">
        <div class="section-frame">
            <a href="#" class="slider-arrow center-arrow center-arrow_prev gallery-prev">
                <i class="fa-arrow-prev"></i>
            </a>
            <a href="#" class="slider-arrow center-arrow center-arrow_next gallery-next">
                <i class="fa-arrow-next"></i>
            </a>
        </div>
        <div class="gallery-slider">
            <a href="images/gallery/gallery-1.jpg" data-fancybox="gallery" class="gallery-slide">
                <img src="images/gallery/gallery-1.jpg" alt="">
            </a>
            <a href="images/gallery/gallery-2.jpg" data-fancybox="gallery" class="gallery-slide">
                <img src="images/gallery/gallery-2.jpg" alt="">
            </a>
            <a href="images/gallery/gallery-3.jpg" data-fancybox="gallery" class="gallery-slide">
                <img src="images/gallery/gallery-3.jpg" alt="">
            </a>
            <a href="images/gallery/gallery-4.jpg" data-fancybox="gallery" class="gallery-slide">
                <img src="images/gallery/gallery-4.jpg" alt="">
            </a>
            <a href="images/gallery/gallery-5.jpg" data-fancybox="gallery" class="gallery-slide">
                <img src="images/gallery/gallery-5.jpg" alt="">
            </a>
            <a href="images/gallery/gallery-3.jpg" data-fancybox="gallery" class="gallery-slide">
                <img src="images/gallery/gallery-3.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="section-frame">
        <div class="slider-dots gallery-dots"></div>
    </div>
</div>