<div class="reviews reviews_white">
    <div class="section-frame">
        <div class="page-title page-title_center">
            <h2>Відгуки</h2>
        </div>
        <div class="reviews-wrap">
            <a href="#" class="slider-arrow center-arrow center-arrow_prev reviews-prev">
                <i class="fa-arrow-prev"></i>
            </a>
            <div class="reviews-slider">
                <div class="reviews-slide">
                    <div class="reviews-slide__person">
                        <div class="reviews-slide__photo">
                            <img src="images/person/person-1.jpg" alt="">
                            <a href="#" target="_blank">
                                <i class="fa-fb"></i>
                            </a>
                        </div>
                        <div class="reviews-slide__name">
                            <p>Daria Holiaka</p>
                            <span>25.10.2021</span>
                        </div>
                    </div>
                    <div class="reviews-slide__content">
                        <p>“Я в захваті від першої поїздки за кордон❤️</p>
                        <p>Дякую вам за чудову можливість не лише поїхати
                            на роботу в Німеччину,
                            а й знайти своє захоплення, нових друзів, здійснити
                            ряд мрій</p>
                    </div>
                </div>
                <div class="reviews-slide">
                    <div class="reviews-slide__person">
                        <div class="reviews-slide__photo">
                            <img src="images/person/person-2.jpg" alt="">
                            <a href="#" target="_blank">
                                <i class="fa-fb"></i>
                            </a>
                        </div>
                        <div class="reviews-slide__name">
                            <p>Руслан Кузнецов</p>
                            <span>23.09.2021</span>
                        </div>
                    </div>
                    <div class="reviews-slide__content">
                        <p>Всім доброго дня. Нещодавно їздив на практику в Германію від УАМФ. Все, як обіцяли.
                            Цілодобова підтримка, відповіді на будь-які запитання. Онлайн супровід від України до...</p>
                    </div>
                </div>
                <div class="reviews-slide">
                    <div class="reviews-slide__person">
                        <div class="reviews-slide__photo">
                            <img src="images/person/person-3.jpg" alt="">
                            <a href="#" target="_blank">
                                <i class="fa-fb"></i>
                            </a>
                        </div>
                        <div class="reviews-slide__name">
                            <p>Іван Сапожніков</p>
                            <span>09.11.2021</span>
                        </div>
                    </div>
                    <div class="reviews-slide__content">
                        <p>Коли вирішив поїхати на роботу за кордон,звернувся до УАМФ.Уважно вислухавши, співробітниця
                            УАМФ надала повну і вичерпну інформацію про роботу,умови отримання візи і.т.д.Коли я вибрав
                            вакансію...</p>
                    </div>
                </div>
                <div class="reviews-slide">
                    <div class="reviews-slide__person">
                        <div class="reviews-slide__photo">
                            <img src="images/person/person-4.jpg" alt="">
                            <a href="#" target="_blank">
                                <i class="fa-fb"></i>
                            </a>
                        </div>
                        <div class="reviews-slide__name">
                            <p>Тетяна Олефір</p>
                            <span>10.11.2021</span>
                        </div>
                    </div>
                    <div class="reviews-slide__content">
                        <p>Всім доброго дня. Нещодавно їздив на практику в Германію від УАМФ. Все, як обіцяли.
                            Цілодобова підтримка, відповіді на будь-які запитання. Онлайн супровід від України до...</p>
                    </div>
                </div>
                <div class="reviews-slide">
                    <div class="reviews-slide__person">
                        <div class="reviews-slide__photo">
                            <img src="images/person/person-2.jpg" alt="">
                            <a href="#" target="_blank">
                                <i class="fa-fb"></i>
                            </a>
                        </div>
                        <div class="reviews-slide__name">
                            <p>Руслан Кузнецов</p>
                            <span>23.09.2021</span>
                        </div>
                    </div>
                    <div class="reviews-slide__content">
                        <p>Всім доброго дня. Нещодавно їздив на практику в Германію від УАМФ. Все, як обіцяли.
                            Цілодобова підтримка, відповіді на будь-які запитання. Онлайн супровід від України до...</p>
                    </div>
                </div>
            </div>
            <a href="#" class="slider-arrow center-arrow center-arrow_next reviews-next">
                <i class="fa-arrow-next"></i>
            </a>
        </div>
        <div class="slider-dots reviews-dots"></div>
    </div>
</div>