<div class="abroad">
    <!-- <div class="frame-circle abroad-circle">
        <img src="images/abroad/abroad-1.jpg" alt="">
        <img src="images/abroad/abroad-2.jpg" alt="">
    </div> -->
    <div class="section-frame">
        <div class="page-title page-title_small">
            <h2>ПОЇХАТИ ЗА КОРДОН ВІД НАC, ЦЕ ПРОСТО </h2>
        </div>
        <div class="abroad-list">
            <div class="abroad-item">
                <img src="images/icon/abroad/abroad-1.svg" alt="">
                <p>Заповнюйте анкету</p>
                <i class="fa-arrow-right"></i>
            </div>
            <div class="abroad-item">
                <img src="images/icon/abroad/abroad-2.svg" alt="">
                <p>Підбираємо вакансію</p>
                <i class="fa-arrow-right"></i>
            </div>
            <div class="abroad-item">
                <img src="images/icon/abroad/abroad-3.svg" alt="">
                <p>Укладаємо договір</p>
                <i class="fa-arrow-right"></i>
            </div>
            <div class="abroad-item">
                <img src="images/icon/abroad/abroad-4.svg" alt="">
                <p>Організовуємо виїзд</p>
                <i class="fa-arrow-right"></i>
            </div>
        </div>
    </div>
</div>