<div class="team">
    <div class="section-frame">
        <div class="page-title page-title_center">
            <h2>Наша команда</h2>
        </div>
        <div class="team-list">
            <div class="team-item">
                <img src="images/team/team-2.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Дмитро</b>
                    <p><img src="images/icon/team.svg" alt=""> директор</p>
                </div>
            </div>
            <div class="team-item">
                <img src="images/team/team-1.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Світлана</b>
                    <p><img src="images/icon/team.svg" alt=""> керівник міжнародного відділу</p>
                </div>
            </div>
            <div class="team-item">
                <img src="images/team/team-3.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Анна</b>
                    <p><img src="images/icon/team.svg" alt=""> керівник міжнародного відділу</p>
                </div>
            </div>
            <div class="team-item">
                <img src="images/team/team-4.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Олексій</b>
                    <p><img src="images/icon/team.svg" alt=""> менеджер по роботі з кліентами</p>
                </div>
            </div>
            <!-- <div class="team-item team-item_single">
                <img src="images/team-photo.jpg" alt="">
            </div>
            <div class="team-item">
                <img src="images/team/team-5.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Ірина</b>
                    <p><img src="images/icon/team.svg" alt=""> менеджер по роботі з клієнтами</p>
                </div>
            </div>
            <div class="team-item">
                <img src="images/team/team-6.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Наталія</b>
                    <p><img src="images/icon/team.svg" alt=""> менеджер міжнародного відділу</p>
                </div>
            </div>
            <div class="team-item">
                <img src="images/team/team-7.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Денис</b>
                    <p><img src="images/icon/team.svg" alt=""> керівник технічного відділу</p>
                </div>
            </div>
            <div class="team-item">
                <img src="images/team/team-8.jpg" class="team-item__photo" alt="">
                <div class="team-item__content">
                    <b>Анна</b>
                    <p><img src="images/icon/team.svg" alt=""> бухгалтер</p>
                </div>
            </div> -->
        </div>
    </div>
</div>