<div class="vacancies">
    <div class="section-frame">
        <div class="page-title page-title_center">
            <h1>Вакансії</h1>
        </div>
        <div class="vacancies-frame">
            <div class="vacancies-filter">
                <div class="vacancies-filter__item">
                    <p class="vacancies-filter__title">Тип працевлаштування</p>
                    <div class="vacancies-filter__select">
                        <div class="vacancies-filter__active">
                            <p>Работа для спеціалістів</p>
                            <i class="fa-down-select"></i>
                        </div>
                        <ul class="vacancies-filter__list">
                            <li>Работа 1</li>
                            <li>Работа 2</li>
                            <li>Работа 3</li>
                        </ul>
                    </div>
                </div>
                <div class="vacancies-filter__item">
                    <p class="vacancies-filter__title">Країна</p>
                    <div class="vacancies-filter__select">
                        <div class="vacancies-filter__active">
                            <p>Великобританія</p>
                            <i class="fa-down-select"></i>
                        </div>
                        <ul class="vacancies-filter__list">
                            <li>Работа 1</li>
                            <li>Работа 2</li>
                            <li>Работа 3</li>
                        </ul>
                    </div>
                </div>
                <div class="vacancies-filter__item">
                    <p class="vacancies-filter__title">Період</p>
                    <div class="vacancies-filter__select">
                        <div class="vacancies-filter__active">
                            <p>Лісове господарство</p>
                            <i class="fa-down-select"></i>
                        </div>
                        <ul class="vacancies-filter__list">
                            <li>Работа 1</li>
                            <li>Работа 2</li>
                            <li>Работа 3</li>
                        </ul>
                    </div>
                </div>
                <div class="vacancies-filter__item">
                    <p class="vacancies-filter__title">Період</p>
                    <div class="vacancies-filter__select">
                        <div class="vacancies-filter__active">
                            <p>9-12 місяців</p>
                            <i class="fa-down-select"></i>
                        </div>
                        <ul class="vacancies-filter__list">
                            <li>Работа 1</li>
                            <li>Работа 2</li>
                            <li>Работа 3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vacancies-list">
                <a href="" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Закрытая</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item vacancies-item_hide">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item vacancies-item_hide">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="vacancie-single.html" class="vacancies-item vacancies-item_hide">
                    <img src="images/vacancies-photo.jpg" class="vacancies-item_photo" alt="">
                    <div class="vacancies-item__content">
                        <div class="vacancies-item__info">
                            <div class="vacancies-item__country">
                                <div class="vacancies-item__country-title">
                                    <img src="images/flag/flag-1.svg" alt="">
                                    <p>Німеччина</p>
                                </div>
                                <span>Робота для спеціалістів</span>
                            </div>
                            <h3 class="vacancies-item__title">Квіти</h3>
                            <p class="vacancies-item__descripter">Робота під час канікул <i class="fa-i"></i></p>
                        </div>
                        <div class="vacancies-item__frame">
                            <div class="vacancies-characteristic">
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-1.svg" alt="">
                                        <p>Початок роботи:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">01 червня 2021</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-2.svg" alt="">
                                        <p>Період:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info">3 місяців</p>
                                </div>
                                <div class="vacancies-characteristic__item">
                                    <div class="vacancies-characteristic__title">
                                        <img src="images/icon/characteristic/characteristic-3.svg" alt="">
                                        <p>Заробітна плата:</p>
                                    </div>
                                    <p class="vacancies-characteristic__info vacancies-characteristic_price">10 €/год
                                    </p>
                                    <p class="vacancies-characteristic__place">Залишилось 222 місця</p>
                                </div>
                            </div>
                            <div class="vacancies-item__description">
                                <b>Робочі обов’язки</b>
                                <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі
                                    та в теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання,
                                    облаштування теплиць</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="vacancies-block__btn">
                <a href="#" class="vacancies-block__btn_vacancies vacancies-more">Показати ще вакансії</a>
                <a href="questionnaire.html" class="vacancies-block__btn_questionnaire">Анкета</a>
            </div>
        </div>
    </div>
</div>