<div class="vacancies-block">
    <div class="section-frame">
        <div class="page-title page-title_center">
            <h2>Вакансії</h2>
        </div>
        <div class="vacancies-block__list">
            <div class="vacancies-block__item">
                <div class="vacancies-block__type">
                    <p>Робота для спеціалістів</p>
                    <div class="vacancies-block__country">
                        <img src="images/flag/flag-1.svg" alt="">
                        <span>Німеччина</span>
                    </div>
                </div>
                <a href="vacancie-single.html" class="vacancies-block__title">Квіти</a>
                <a href="vacancie-single.html" class="vacancies-block__photo">
                    <img src="images/vacancies/vacancies-1.jpg" alt="">
                    <p>Залишилось 222 місця</p>
                </a>
                <div class="vacancies-block__info">
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-1.svg" alt="">
                        <p>Початок роботи: <span>01 червня 2021</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-2.svg" alt="">
                        <p>Період: <span>3 місяців</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-3.svg" alt="">
                        <p>Заробітна плата: <span class="vacancies-block__info_price">10 €/год</span></p>
                    </div>
                </div>
            </div>
            <div class="vacancies-block__item">
                <div class="vacancies-block__type">
                    <p>Робота для спеціалістів</p>
                    <div class="vacancies-block__country">
                        <img src="images/flag/flag-2.svg" alt="">
                        <span>Австрія</span>
                    </div>
                </div>
                <a href="vacancie-single.html" class="vacancies-block__title">Лісове господарство</a>
                <a href="vacancie-single.html" class="vacancies-block__photo">
                    <img src="images/vacancies/vacancies-2.jpg" alt="">
                    <p>Залишилось 222 місця</p>
                </a>
                <div class="vacancies-block__info">
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-1.svg" alt="">
                        <p>Початок роботи: <span>01 червня 2021</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-2.svg" alt="">
                        <p>Період: <span>3 місяців</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-3.svg" alt="">
                        <p>Заробітна плата: <span class="vacancies-block__info_price">10 €/год</span></p>
                    </div>
                </div>
            </div>
            <div class="vacancies-block__item">
                <div class="vacancies-block__type">
                    <p>Робота для спеціалістів</p>
                    <div class="vacancies-block__country">
                        <img src="images/flag/flag-1.svg" alt="">
                        <span>Німеччина</span>
                    </div>
                </div>
                <a href="vacancie-single.html" class="vacancies-block__title">Квіти</a>
                <a href="vacancie-single.html" class="vacancies-block__photo">
                    <img src="images/vacancies/vacancies-1.jpg" alt="">
                    <p>Залишилось 222 місця</p>
                </a>
                <div class="vacancies-block__info">
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-1.svg" alt="">
                        <p>Початок роботи: <span>01 червня 2021</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-2.svg" alt="">
                        <p>Період: <span>3 місяців</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-3.svg" alt="">
                        <p>Заробітна плата: <span class="vacancies-block__info_price">10 €/год</span></p>
                    </div>
                </div>
            </div>
            <div class="vacancies-block__item">
                <div class="vacancies-block__type">
                    <p>Робота для спеціалістів</p>
                    <div class="vacancies-block__country">
                        <img src="images/flag/flag-2.svg" alt="">
                        <span>Австрія</span>
                    </div>
                </div>
                <a href="vacancie-single.html" class="vacancies-block__title">Лісове господарство</a>
                <a href="vacancie-single.html" class="vacancies-block__photo">
                    <img src="images/vacancies/vacancies-2.jpg" alt="">
                    <p>Залишилось 222 місця</p>
                </a>
                <div class="vacancies-block__info">
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-1.svg" alt="">
                        <p>Початок роботи: <span>01 червня 2021</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-2.svg" alt="">
                        <p>Період: <span>3 місяців</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-3.svg" alt="">
                        <p>Заробітна плата: <span class="vacancies-block__info_price">10 €/год</span></p>
                    </div>
                </div>
            </div>
            <div class="vacancies-block__item">
                <div class="vacancies-block__type">
                    <p>Робота для спеціалістів</p>
                    <div class="vacancies-block__country">
                        <img src="images/flag/flag-1.svg" alt="">
                        <span>Німеччина</span>
                    </div>
                </div>
                <a href="vacancie-single.html" class="vacancies-block__title">Квіти</a>
                <a href="vacancie-single.html" class="vacancies-block__photo">
                    <img src="images/vacancies/vacancies-1.jpg" alt="">
                    <p>Залишилось 222 місця</p>
                </a>
                <div class="vacancies-block__info">
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-1.svg" alt="">
                        <p>Початок роботи: <span>01 червня 2021</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-2.svg" alt="">
                        <p>Період: <span>3 місяців</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-3.svg" alt="">
                        <p>Заробітна плата: <span class="vacancies-block__info_price">10 €/год</span></p>
                    </div>
                </div>
            </div>
            <div class="vacancies-block__item">
                <div class="vacancies-block__type">
                    <p>Робота для спеціалістів</p>
                    <div class="vacancies-block__country">
                        <img src="images/flag/flag-2.svg" alt="">
                        <span>Австрія</span>
                    </div>
                </div>
                <a href="vacancie-single.html" class="vacancies-block__title">Лісове господарство</a>
                <a href="vacancie-single.html" class="vacancies-block__photo">
                    <img src="images/vacancies/vacancies-2.jpg" alt="">
                    <p>Залишилось 222 місця</p>
                </a>
                <div class="vacancies-block__info">
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-1.svg" alt="">
                        <p>Початок роботи: <span>01 червня 2021</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-2.svg" alt="">
                        <p>Період: <span>3 місяців</span></p>
                    </div>
                    <div class="vacancies-block__info-item">
                        <img src="images/icon/info-3.svg" alt="">
                        <p>Заробітна плата: <span class="vacancies-block__info_price">10 €/год</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="vacancies-block__btn">
            <a href="vacancies.html" class="vacancies-block__btn_vacancies">Переглянути всі вакансії</a>
        </div>
    </div>
</div>