<div class="vacancies-single">
    <div class="section-frame">
        <div class="vacancies-single__header">
            <div class="vacancies-single__title">
                <img src="images/flag/flag-3.svg" alt="">
                <h1>НІМЕЧЧИНА <br> Eschbach</h1>
            </div>
            <div class="vacancies-single__counter">
                <p>9,85 €/год</p>
                <span>від 1570 €/міс</span>
            </div>
        </div>
        <div class="vacancies-single__content">
            <div class="vacancies-single__work">
                <div class="vacancies-single__photo">
                    <img src="images/single.jpg" alt="">
                    <p>Робота для спеціалістів</p>
                </div>
                <b class="vacancies-single__speciality">Овочівництво</b>
                <div class="vacancies-single__work-info">
                    <p class="vacancies-single__code">Код вакансії: <span>DE 178</span></p>
                    <p class="vacancies-single__place">Залишилося 222 місця</p>
                </div>
            </div>
            <div class="vacancies-single__info">
                <div class="vacancies-single__info-item">
                    <h3>Умови</h3>
                    <b>Опис підприємства</b>
                    <p>Підприємство займається вирощуванням овочів у теплицях , помідори, огірки, паприка... На даний
                        момент будують нові сучасні теплиці для салатів і пропонують роботу на будівництві</p>
                    <b>Рабочі обов’язки</b>
                    <p>Робота полягає у прополці , культивації, поливі, зборі врожаю, упаковці овочів в полі та в
                        теплицях. Також треба монтувати торгові стелажі. Допомога з прибирання, облаштування теплиць</p>
                    <b>Дата початку роботи</b>
                    <p>10 грудня 2021</p>
                    <b>Період</b>
                    <p>6 місяців</p>
                    <b>Робочий час</b>
                    <p>Понеділок - п'ятниця - 7.00 - 17.00 <br>
                        Субота 7.00 - 12.00 (за бажанням, не змушують) в сезон можливі наднормові години роботи за
                        домовленістю</p>
                    <b>Заробітна плата</b>
                    <p>9,85 євро брутто за годину . При гарній роботі фермер готовий залишати на робочі контракти і
                        платити до 12-13 євро за годину</p>
                    <b>Податок</b>
                    <p>7%</p>
                    <b>Соціальні відрахування</b>
                    <p>Медичне страхування надається за рахунок фермера. Також фермер оплачує білет до господарства, з
                        відрахуванням із заробітн</p>
                    <b>Житло</b>
                    <p>Проживання в окремій кімнаті, кухня та ванна кімната спільна. Вартість житла 260 євро</p>
                    <b>Харчування</b>
                    <p>За власний рахунок. Проїзд до магазину можливий на велосипедах підприємства</p>
                </div>
                <div class="vacancies-single__info-item">
                    <h3>Вимоги</h3>
                    <b>Володіння мовами</b>
                    <p>у когось одного з групи бажано розмовна англійська чи німецька мова</p>
                    <b>Досвід</b>
                    <p>бажаний,але не обов’язковий</p>
                    <b>Особливі вимоги</b>
                    <p>студенти ВНЗ профільних спеціальностей</p>
                </div>
                <div class="vacancies-single__info-item">
                    <h3>Витрати</h3>
                    <b>Консульський збір</b>
                    <p>відсутній</p>
                    <b>Страхування</b>
                    <p>350 - 420 грн</p>
                    <b>Транспортні витрати</b>
                    <p>50 - 100€</p>
                    <b>Вартість послуг UAMF</b>
                    <p>будь ласка, уточнюйте у співробітника UAMF <br>
                        +380 97 297 27 27</p>
                </div>
                <a href="questionnaire.html" class="vacancies-single__btn">Анкета</a>
            </div>
        </div>
    </div>
</div>