.thanks {
    margin: 78px 0 100px;
    padding: 90px 0;
    position: relative;
    background: url('../images/bg/thanks-bg.jpg') left top no-repeat;
    background-size: cover;
    @include mudak('max', 'sm') {
        margin: 40px 0;
        padding: 40px 0;
        background: url('../images/bg/thanks-mob-bg.jpg') left top no-repeat;
        background-size: cover;
    }
    
}
.thanks-title {
    p {
        text-transform: uppercase;
        color: #1B1B1B;
        margin-top: 20px;
        font-size: 28px;
        line-height: 30px;
        font-family: $title;
    }
    @include mudak('max', 'sm') {
        p {
            font-size: 18px;
            line-height: 24px;
            margin-top: 10px;
        }
    }
    
}
.thanks-content {
    max-width: 685px;
    margin: 45px auto 0;
    p {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    a {
        @include button(276px, 46px);
        background: transparent;
        font-weight: 600;
        margin: 25px auto 0; 
        
    }
    @include mudak('max', 'sm') {
        margin-top: 20px;
        max-width: 300px;
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }
    
}
.thanks-circle {
    @include mudak('max', 'xl') {
        display: block;
        top: -20px;
        img {
            &:first-child {
                display: none;
            }
        }
    }
    @include mudak('max', 'sm') {
        top: -7px;
        right: 5px;
        img {
            &:last-child {
                width: 65px;
                height: 65px;
                right: 0;
                top: 0;
            }
        }
    }
    
}